/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phenowrangle gwas_binary config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile gwas_binary
 */


docker.enabled = true

params  {
    mode='gwas'
    query=false
    pheno_data = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/cohort_data_phenos.csv"
    pheno_metadata = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/metadata.csv"
    continuous_var_aggregation = "mean"
    continuous_var_transformation = "zscore"
    pheno_col = "Specimen type"
    trait_type = "binary"
    case_group = "NOSE"
    design_mode = "case_vs_control_contrast"
    vcfs_list = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/vcfs.csv"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}
