/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phenowrangle phewas config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile phewas
 */


docker.enabled = true

params  {
    mode='phewas'
    query=false
    pheno_data = "s3://lifebit-featured-datasets/projects/gel/phewas/testdata/cohort_data_phenos_phewas.csv"
    pheno_metadata = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/metadata.csv"
    continuous_var_transformation = "None"
    continuous_var_aggregation = "mean"
    pheno_col = "Specimen type"
    case_group = "NOSE"
    design_mode = "case_vs_control_contrast"
    pheno_codes = "icd10"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}