/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phenowrangle plink_binary config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile plink_binary
 */


docker.enabled = true

params  {
    mode='plink'
    query="s3://lifebit-featured-datasets/pipelines/phenowrangle/query.json"
    pheno_data = "s3://lifebit-featured-datasets/pipelines/biobank-gwas/cohort_data_phenos.csv"
    pheno_metadata = "s3://lifebit-featured-datasets/pipelines/biobank-gwas/metadata.csv"
    continuous_var_aggregation = "mean"
    continuous_var_transformation = "zscore"
    pheno_col = "Specimen type"
    trait_type = "binary"
    case_group = "NOSE"
    design_mode = "case_vs_control_contrast"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}
