/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phenowrangle plink_ukbio config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile plink_ukbio
 */


docker.enabled = true

params  {
    mode='plink'
    query="s3://marcos-lifebit/phenowrangle/ukbio.json"
    pheno_data = "s3://marcos-lifebit/phenowrangle/ukbio_phewas.csv"
    pheno_metadata = "s3://marcos-lifebit/phenowrangle/ukbio_meta_phewas.csv"
    continuous_var_aggregation = "mean"
    continuous_var_transformation = "zscore"
    pheno_col = "Sex"
    trait_type = "binary"
    case_group = "Male"
    design_mode = "case_vs_control_contrast"
    id_column = "i"
    phewas = true


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}