/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phenowrangle plink_phewas config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile plink_phewas
 */


docker.enabled = true

params  {
    mode='plink'
    query="s3://marcos-lifebit/phenowrangle/query.json"
    pheno_data = "s3://lifebit-featured-datasets/projects/gel/phewas/testdata/cohort_data_phenos_phewas.csv"
    pheno_metadata = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/metadata.csv"
    continuous_var_transformation = "None"
    continuous_var_aggregation = "mean"
    pheno_col = "Specimen type"
    case_group = "NOSE"
    design_mode = "case_vs_control_contrast"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}