/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phenowrangle plink_qt config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile plink_qt
 */


docker.enabled = true

params  {
    mode='plink'
    query="s3://marcos-lifebit/phenowrangle/query.json"
    pheno_data = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/cohort_data_phenos.csv"
    pheno_metadata = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/metadata.csv"
    continuous_var_aggregation = "mean"
    continuous_var_transformation = "zscore"
    pheno_col = "Height (HCM)"
    trait_type = "quantitative"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}
